{% extends 'base.html' %}
{% block nav %}

{% endblock %}
{% block content%}
    {% for advertisement in advertisements %}
        <div class="card" style="width: 18rem;">
             {% if advertisement.photo %}
                    <img src="{{ advertisement.photo.url }}" alt="photo photo">
            {% else %}
                <img src='https://static.vecteezy.com/system/resources/thumbnails/004/141/669/small/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg' class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
{#                <a href="{% url 'accounts:user_view' advertisement.author.pk  %}" class="card-text">Автор: {{ advertisement.author }}</a>#}
                <p>Дата: {{ advertisement.created_at }}</p>
                {% if perms.webapp.staff %}
                    <a href="{% url 'webapp:moderator_advertisement' advertisement.pk %}" class="btn btn-primary">Посмотреть обьявление</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock content%}
